html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 30px;
    
}

.contenido{
    flex-basis: 700px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}

.contenido h1{
    font-size: 20px;
    
}


.cabezera{
    width: 100%;
    height: 30%;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 2px 2px 20px 1px #000000 ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;

}


.footer{
    background-color: grey;
    color: white;
}
