html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.contenido{
    flex-basis: 700px;
    height: 200px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}

.contenido h1{
    font-size: 20px;
}


